# Data & Images (Huge!)
data/
site/static/images

# Antigravity
planning/

# Scripts
scripts/
scrapers/
*.py
requirements.txt

# Hugo Build Artifacts
site/public/
site/resources/
.hugo_build.lock

# System & IDE
.DS_Store
.vscode/
.idea/
__pycache__/
*.pyc
venv/
.env
